@media (max-width: 991px) {
    .nav-tabs {
        display: flex;
        flex-direction: column; /* Apila las tabs verticalmente en pantallas pequeñas */
        width: 100%;
    }

    .nav-tabs .nav-item {
        margin-bottom: 5px; /* Espacio entre las tabs */
    }

    /* Para evitar que se vea solo el tab activo */
    .nav-tabs .nav-link {
        display: block;
        text-align: left;
    }
}